*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.main{
    display: flex;
    flex-direction: column;
}

.qs{
    text-align: center;
}

img{
    height: 250px;
    width: 390px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    position: relative;
}

#yes{
    position: absolute;
    left: 15%;
    height: 35px;
    width: 90px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #1ff018;
    border: none;
}

#no{    
    position: absolute;
    right: 15%;
    height: 35px;
    width: 90px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #f33737;
    border: none;
    
}

#yes:hover{
    background-color: #13a10e;
    cursor: pointer;
}

#no:hover{
    background-color: #c00606;
    cursor: pointer;
}